<aside class="fixed top-16 left-0 w-64 bg-white h-[calc(100vh-4rem)] overflow-y-auto border-r shadow-sm hidden sm:block">
  <nav class="p-6">
    <ul class="space-y-4">
      <li>
        <a href="#" class="flex items-center gap-3 text-gray-700 hover:text-[var(--primary-color)] transition">
          <i class="ph ph-dashboard"></i>
          Dashboard
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center gap-3 text-gray-700 hover:text-[var(--primary-color)] transition">
            <i class="ph ph-shopping-bag"></i>
            Productos
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center gap-3 text-gray-700 hover:text-[var(--primary-color)] transition">
            <i class="ph ph-file-text"></i>
            Contratos
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center gap-3 text-gray-700 hover:text-[var(--primary-color)] transition">
            <i class="ph ph-calendar"></i>
            Reservas
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center gap-3 text-gray-700 hover:text-[var(--primary-color)] transition">
            <i class="ph ph-users"></i>
            Clientes
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center gap-3 text-gray-700 hover:text-[var(--primary-color)] transition">
            <i class="ph ph-arrow-clockwise"></i>
            Devoluciones
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center gap-3 text-gray-700 hover:text-[var(--primary-color)] transition">
            <i class="ph ph-toolbox"></i>
            Mantenimiento
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center gap-3 text-gray-700 hover:text-[var(--primary-color)] transition">
            <i class="ph ph-chart-bar"></i>
            Reportes
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center gap-3 text-gray-700 hover:text-[var(--primary-color)] transition">
            <i class="ph ph-gear-six"></i>
            Administración
          </a>
        </li>
      </ul>
    </nav>
  </aside>
